/* Media query for smaller screens */
@media screen and (max-height: 700px) {
    #instruct {
        font-size: 90%;
    }

    #removeCandles {
        font-size: 90%;
    }

}

/* Media query for mobile screens */
@media screen and (max-width: 800px) {

    #Card {
        width: 90vw;
    }

    .submit,
    input,
    textarea,
    select {
        width: calc(90vw - 35px);
    }

    /* change all the width and font */

    #ribbonHeader,
    #ribbonBody {
        display: none;
    }

    @keyframes pullRibbon {
        0% {
            left: -50vw;
        }

        100% {
            left: 0vw;
        }
    }

    #ribbonButton {
        display: block;
    }

    #cardContainer.appear {
        animation: slideInCard 2s forwards;
    }

    #messageCard {
        left: 25vw;
        width: 60vw;
        height: 50vh;
    }

    .balloon {
        width: 50px;
        height: 55px;
    }

    /* balloon sticks */
    .balloon:before {
        height: 25px;
        width: 0.2px;
        padding: 0.2px;
        top: 55px;
    }

    /* balloon triangle */
    .balloon:after {
        top: 50px;
    }


}

@media screen and (max-width: 350px){
    #Card {
        left: calc(50% - 45vw);
    }
}