/* Style file for Birtday Cake */

body {
    background-color: #efc7e6;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.topContainer{
    background-color: #f7d9f4;
    padding: 10px;
    text-align: center;
}

.middleContainer{
    background-color: #fa44e8;
    height: 400px;
    padding: 10px;
    text-align: center;
}

#cake{
    position: relative;
    background-color: aqua;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 300px;
}

.candle{
    position: relative;
    top: 60px;
    /* background-color: #f7d9f4; */
    height: 50px;
    width: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    z-index: 5;
}

.candleTop{
    position: absolute;
    top: 10px;
    background-color: #00ff80;
    border-radius: 50%;
    height: 5px;
    width: 10px;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
}

.flame{
    position: absolute;
    top: 0px;
    left: 2px;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent; 
    border-bottom: 12px solid red;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    height: px;
    width: 0px;
    margin-left: auto;
    margin-right: auto;
    z-index: 3;
}

.candleBottom{
    position: absolute;
    top: 12.5px;
    background-color: #2e8459;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
    height: 37.5px;
    width: 10px;
    margin-left: auto;
    margin-right: auto;
}

#topLayer{
    position: absolute;
    top: 100px;
    background-color: #ed00d6;
    border-radius: 50%;
    height: 50px;
    width: 300px;
    z-index: 3;
}

#layer1{
    position: absolute;
    top: 125px;
    background-color: #f7d9f4;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    z-index: 2;
    height: 75px;
    width: 300px;
}

#layer2{
    position: absolute;
    top: 150px;
    background-color: #571951;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    height: 100px;
    width: 300px;
    z-index: 1;
}


#bottomLayer{
    position: absolute;
    top: 200px;
    background-color: #000000;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    height: 100px;
    width: 300px;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.25);
}

.bottomContainer{
    background-color: #b013a0;
    padding: 10px;
    text-align: center;
}


