@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');


/* Style file for Birtday Cake */

body {
    background-color: #E6E6FA;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.topContainer{
    background-color: #E6E6FA;
    text-align: center;
}

#banner{
    /* background-color: #ff9999; */
    font-family: "Source Code Pro", monospace;
    position: absolute;
    width: 335px;
    height: 150px;
    top: -200px;
    left: calc(50% - 335px/2);

}

.rods{
    width: 305px;
    height: 75px;
    border-left: 15px solid #704726;
    border-right: 15px solid #704726;
}

.boardborder{
    position: absolute;
    width: 305px;
    height: 80px;
    font-size: 0.8em;
    border: 15px solid #704726;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: #ff9999;
}

.lights{
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ffcc6c;
    box-shadow: 0 0 5px #ffcc6c;
    z-index: 4;
    animation-name: lit;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes lit{
    0%{
        box-shadow: 0 0 5px #fff200;
    }
    30%{
        box-shadow: 0 0 20px #ffffff;
    }
    60%{
        box-shadow: 0 0 5px #ffd500;
    }
    100%{
        box-shadow: 0 0 20px #ffd500;
    }
}

#l1{
    top: -12px;
    left: 10px;
}

#l2{
    top: -12px;
    left: 30px;
}

#l3{
    top: -12px;
    left: 50px;
}

#l4{
    top: -12px;
    left: 70px;
}

#l5{
    top: -12px;
    left: 90px;
}

#l6{
    top: -12px;
    left: 110px;
}

#l7{
    top: -12px;
    left: 130px;
}

#l8{
    top: -12px;
    left: 150px;
}

#l9{
    top: -12px;
    left: 170px;
}

#l10{
    top: -12px;
    left: 190px;
}

#l11{
    top: -12px;
    left: 210px;
}

#l12{
    top: -12px;
    left: 230px;
}

#l13{
    top: -12px;
    left: 250px;
}

#l14{
    top: -12px;
    left: 270px;
}

#l15{
    top: -12px;
    left: 290px;
}

#l16{
    top: -12px;
    left: 307px;
}

#l17{
    top: 8px;
    left: 307px;
}

#l18{
    top: 28px;
    left: 307px;
}

#l19{
    top: 48px;
    left: 307px;
}

#l20{
    top: 68px;
    left: 297px;
}

#l21{
    top: 80px;
    left: 280px;
}

#l22{
    top: 83px;
    left: 260px;
}

#l23{
    top: 83px;
    left: 240px;
}

#l24{
    top: 83px;
    left: 220px;
}

#l25{
    top: 83px;
    left: 200px;
}

#l26{
    top: 83px;
    left: 180px;
}

#l27{
    top: 83px;
    left: 160px;
}

#l28{
    top: 83px;
    left: 140px;
}

#l29{
    top: 83px;
    left: 120px;
}

#l30{
    top: 83px;
    left: 100px;
}

#l31{
    top: 83px;
    left: 80px;
}

#l32{
    top: 83px;
    left: 60px;
}

#l33{
    top: 83px;
    left: 40px;
}

#l34{
    top: 80px;
    left: 17px;
}

#l35{
    top: 68px;
    left: 0px;
}

#l36{
    top: 48px;
    left: -11px;
}

#l37{
    top: 28px;
    left: -11px;
}

#l38{
    top: 8px;
    left: -11px;
}

#l39{
    top: -12px;
    left: -11px;
}

.middleContainer{
    background-color: #E6E6FA;
    height: 400px;
    padding: 10px;
    text-align: center;
}

#cake{
    position: relative;
    /* background-color: aqua; */
    top: 100px;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 200px;
    /* Set cake  above balloons */
    z-index: 2; 
}

.candle{
    background-color: transparent;
    height: 50px;
    width: 10px;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
    z-index: 5;
}



.candleTop{
    position: absolute;
    top: 10px;
    background-color: #e7e0c5;
    border-radius: 50%;
    height: 5px;
    width: 10px;
    z-index: 2;
}

.wick{
    position: absolute;
    top: 6px;
    left: 4px;
    background-color: #fffbee;
    height: 5px;
    width: 1px;
    z-index: 3;
}

.flame{
    position: absolute;
    visibility: visible;
    top: 0px;
    left: 2px;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 12px solid red;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    height: 0px;
    width: 0px;
    z-index: 4;
    filter: drop-shadow(0px 0px 5px rgba(255, 111, 0, 1));
}

.candleBottom{
    position: absolute;
    top: 12.5px;
    background-color: #d1cab1;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
    height: 37.5px;
    width: 10px;
    z-index: 1;
    -webkit-box-shadow: 0 3px 2px -2px #777;
       -moz-box-shadow: 0 3px 2px -2px #777;
            box-shadow: 0 3px 2px -2px #777;
}

.shadow{
    -webkit-box-shadow: 0 10px 6px -6px #777;
       -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;

}

#topLayer{
    position: absolute;
    top: 0px;
    background-color: #ffeffd;
    border-radius: 50%;
    height: 50px;
    width: 300px;
    z-index: 3;
}

#layer1{
    position: absolute;
    top: 25px;
    background-color: #f7d9f4;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    z-index: 2;
    height: 75px;
    width: 300px;
}

#layer2{
    position: absolute;
    top: 50px;
    background-color: #f7d9f4;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    height: 100px;
    width: 300px;
    z-index: 1;
}


.bottomLayer{
    position: absolute;
    top: 100px;
    background-color: #f7d9f4;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    height: 100px;
    width: 300px;
}

.shadow{
        -webkit-box-shadow: 0 10px 6px -6px #777;
           -moz-box-shadow: 0 10px 6px -6px #777;
                box-shadow: 0 10px 6px -6px #777;
   
}

.bottomContainer{
    /* background-color: #0000ff; */
    padding: 10px;
    text-align: center;
}

#removeCandles{
    font-family: "Source Code Pro", monospace;
    font-size: 1.5em;
    background-color: #ff9999;
    border-radius: 5px;
    padding: 1rem;
    border-color: #ff9999;
    visibility: hidden;
    z-index: 1;
}

#instruct {
    /* background-color: aqua; */
    position: relative;
    /* center the position */
    width: 335px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Source Code Pro", monospace;
    font-size: 1.5rem;
    font-weight: 600;
    color: #000;
    display: none;
    z-index: 50;
}

/* Media query for smaller screens */
@media screen and (max-height: 700px) {
    #instruct {
        font-size: 90%;
    }

    #removeCandles {
        font-size: 90%;
    }
    
}

#first_message {
    visibility: hidden;
}

#second_message {
    visibility: hidden;
}

/* Form */

form {
    display: inline-block;
    /* Form outline */
    padding: 1em;
}

.title__card {
    font-family: "Source Code Pro", monospace;
    font-size: 1.5em;
    font-weight: 600;
    color: #000;
    /* make an underline border */
    border-bottom: 2px dashed hsl(266, 59%, 60%);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

form li + li {
    margin-top: 1em;
}


label {
    /* Uniform size & alignment */
    font-family: "Source Code Pro", monospace;
    display: inline-block;
    min-width: 90px;
    text-align: left;
}
  
input,
textarea, select {
    /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font 
    */
    font-family: "Source Code Pro", monospace;
    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;
    /* Match form field borders */
    border: 1px solid  hsl(266, 59%, 60%);
    border-radius: 5px;
}

input:focus,
textarea:focus
select:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
}

textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
    /* Provide space to type some text */
    height: 5em;
}

.submit {
  /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */
    font-family: "Source Code Pro", monospace;
    border-radius: 5px;
    width: 300px;
    padding: 5px;
    background-color: pink;
    border-color: #ff9999;
}

.submit:hover {
    background-color: #ff9999;
    border-color: #FA8072;
    cursor: pointer;
}

/* Card animation */
@keyframes slideIn {
    from {
        top: -100px;
    }
    to {
        top: 100px;
    }
}

@keyframes slideOut {
    from {
        top: 100px;
    }
    to {
        top: -100%;
    }
}

@keyframes invalidAnim {
    /* shake the card */
    0%, 100% {
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
        transform: translateX(10px);
    }
}

#Card {
    z-index: 100;
    position: absolute;
    top: 100px;
    width: 335px;
    /* make position horizontally in the center */
    left: calc(50% - 335px/2);
    background-color: rgb(230,215,255);
    visibility: visible;
    border-radius: 15px;
    animation: slideIn 1s;
    animation-fill-mode: forwards;
    border: 1px solid  hsl(266, 59%, 60%);

}    


.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  #balloonContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Set balloons behind the cake */
    z-index: 1; 
  }
  
  .balloon {
    position: absolute;
    bottom: -150px;
    width: 105px;
    height: 125px;
    border-radius: 75% 75% 70% 70%;
    opacity: 0.8;
    animation: float 10s linear infinite;
    /* Set balloons behind the cake */
    z-index: 100; 
  }
  
  /* balloon sticks */
  .balloon:before {
    content: "";
    height: 75px;
    width: 1px;
    padding: 1px;
    background-color: #FDFD96;
    display: block;
    position: absolute;
    top: 125px;
    left: 0;
    right: 0;
    margin: auto;
  }
  
  /* balloon triangle */
  .balloon:after {
      content: "▲";
      text-align: center;
      display: block;
      position: absolute;
      color: inherit;
      top: 120px;
      left: 0;
      right: 0;
      margin: auto;
  }
  
  
  /* balloon float animation */
  
  
  
  @keyframes float {
      0% {
          bottom: -150px; /* Start position off-screen */
          opacity: 1;
      }
      100% {
          bottom: 300vh; /* Move to top of the screen */
          opacity: 0;
      }
  }
  